
html, body{
  height:100%;
  font-family:'Source Serif Pro', georgia, sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: #383838;
  line-height: 22px;
  width: 100%;
  height: 100%;
  text-rendering: optimizeLegibility;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}
h4{
  color: #000000;
}
p{
  color: #000000;
}

a {
  text-decoration: none;
  color: #383838;
}

h1 {
	font-variant-ligatures: common-ligatures;
    margin: 0 0 3.75vw 5.75vw;
    font-family: 'Playfair Display',Times, 'Times New Roman', serif;
    font-size: 1.85vw;
    font-weight: 900;
    letter-spacing:  0.05vw;
    line-height: 2.25vw;
}



.ampersand {
  padding-left: .4vw;
}

h2 {
  font-size: 1.00vw;
   padding-right: 1.25vw;
   width: 18.125vw;
   float: left;
 }

/* LAYOUT */
.left {
  margin-left: 6.25vw;
}

.sidebar {
	width: 30%;
  border-right: 1px solid black;
  height: 260px;
}

.projects {
    width: 70%;
    margin-left: 0vw;
    color: #1a1414;
    background-color: #fff;

}

.certblock{
   flex-wrap: wrap;

}

.columns {
  display: flex;
  width: 100%;
}
.left-column {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-direction: column;
  border-right: 1px solid white;
  box-sizing: border-box;
}
.right-column {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-direction: column;
}

.projects a {
  color: #fff;
}



.hero {
	width: 100%;
  height: 37.5vw;
  border-bottom: 1px solid white;
  box-sizing: border-box;
}



.brand-wrapper {
  padding-top: 7px;
  padding-bottom: 8px; }
  .brand-wrapper .logo {
    height: 25px; }

.login-section-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding: 30px 50px;
  background-color: #fff; }
  @media (max-width: 991px) {
    .login-section-wrapper {
      padding-left: 50px;
      padding-right: 50px; } }
  @media (max-width: 575px) {
    .login-section-wrapper {
      padding-top: 20px;
      padding-bottom: 20px;
      min-height: 100vh; } }

.login-wrapper {
  width: 300px;
  max-width: 100%;
  padding-left: 50px;
  padding-bottom: 24px; }
  @media (max-width: 575px) {
    .login-wrapper {
      width: 100%; } }
  .login-wrapper label {
    font-size: 14px;
    font-weight: bold;
    color: #383838;
     }
  .login-wrapper .form-control {
    border: none;
    border-bottom: 2px solid #C4A2FC;
    border-radius: 0;
    padding: 9px 5px;
    min-height: 40px;
    font-size: 18px;
    font-weight: normal; }
    .login-wrapper .form-control::-webkit-input-placeholder {
      color: #C4A2FC; }
    .login-wrapper .form-control::-moz-placeholder {
      color: #b0adad; }
    .login-wrapper .form-control:-ms-input-placeholder {
      color: #b0adad; }
    .login-wrapper .form-control::-ms-input-placeholder {
      color: #b0adad; }
    .login-wrapper .form-control::placeholder {
      color: #b0adad; }
   .login-wrapper   .form-control:focus{
  border-top:2px solid #C4A2FC;
      border-bottom: 2px solid #C4A2FC;
  border-radius: 25px;
  box-shadow: none;

}
  .login-wrapper .login-btn {
    padding: 10px 10px;
    background-color: #966FD8;
    border-radius: 20;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 14px; }
    .login-wrapper .login-btn:hover {
      background-color: #8C57E4;
      color: #fff; }
  .login-wrapper-reg  a.forgot-password-link {
    color: #080808;
    font-size: 14px;
    text-decoration: underline;
    display: inline-block;
    margin-bottom: 20px; }
    @media (max-width: 575px) {
      .login-wrapper-reg  a.forgot-password-link {
        margin-bottom: 16px; } }
  .login-wrapper-footer-text {
    font-size: 14px;
    color: #000;
    margin-top: 15px; }
     .login-wrapper-footer-text-signup {
    font-size: 14px;
    color: #000;
    margin-top: 60px; }
.login-wrapper-reg  a.text-reg{
  color: #966FD8;
}

.login-wrapper-reg{
border-bottom:  1px solid black;
border-bottom-width: 50%;
height: 100px;
  }
  .login-wrapper-reg-social a.forgot-password-link {
    color: #080808;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 20px; }
    .login-wrapper-reg-social img{
       padding: 1%;
    }
.login-title {
  font-size: 30px;
  color: #000;
  font-weight: bold;
  margin-bottom: 25px; }
  .login-wrapper-footer-text-signup a {
    font-size: 10px;
  }

.login-img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left; }

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

/*# sourceMappingURL=login.css.map */
.intro h1 {
  font-variant-ligatures: common-ligatures;
    margin: 0 0 2.5vw 5.75vw;
    font-family: 'Playfair Display',Times, 'Times New Roman', serif;
    font-size: 1.85vw;
    font-weight: 900;
    letter-spacing:  0.05vw;
    line-height: 2.25vw;
}

.intro h2 {
  font-variant-ligatures: common-ligatures;
   font-family: Open Sans; 
    font-size: 1.00vw;
    font-weight: normal;
      padding-right: 1.25vw;
   width: 18.125vw;
    letter-spacing:  0.05vw;
    line-height: 1.25vw;
   float: left;
   text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
 }

 .footer-bs {
    background-color: #9F67FB;
  padding:20px 20px 10px 60px; 
  color: rgba(255,255,255,1.00);
 
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 10px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; margin-top: 5px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px; font-size: 15px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px; font-size: 15px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

.input-group input{
  height: calc(0.7em + .55rem + 2px);
    padding: .65rem .75rem!important;
   font-size: 14px;
}


@media (min-width: 768px) {
  .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
}


