.Header {
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0px;
    z-index: 1;
    font-size: 20px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
       background: #fff;
      box-sizing: border-box;
}

#certifications{
     font-family: 'Playfair Display',Times, 'Times New Roman', serif;
    font-size: 1.85vw;
    text-align: center;
    margin: 0;
text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.Header-index {
    display: inline-block;
    vertical-align: Middle;  
}


a {
    color: inherit;
}

.progress-container {
  height: 8px;
  background: transparent;
  width: 150%;
  position: fixed;
}

.progress-bar {
  height: 4px;
  background: #C4A2FC;
  width: 0%;
  
}
#navbox{
 margin-top: 10%!important;
  box-sizing: border-box;
}



h6{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
        color: #ee6e73;
   
}
.cert1 {
  width: 33.3%;
  
}
.cert2 {
  width: 33.3%;
}
.cert3 {
  width: 33.3%;
}

.overlay1{
  position: absolute;
  left: 0;
  right: 0;
  background-color: #eceff1;
  overflow: hidden;
  width: 0;
  transition: .5s ease;
}
.overlay2 {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #eceff1;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}
.overlay3 {
  position: absolute;
  left: 100%;
  right: 0;
  background-color: #eceff1;
  overflow: hidden;
  width: 0;
  transition: .5s ease;
}
.cert1:hover .overlay1 {
  height: 30%;
  width: 100%;
}
.cert2:hover .overlay2 {
  height: 30%;
 
}
.cert3:hover .overlay3 {
  height: 30%;
  width: 100%;
  left: 0;
}

.text1 {
  color: #263238;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 900;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.text2 {
  color:#263238;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
   font-weight: 900;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.text3 {
  color: #263238;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
   font-weight: 900;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.topnav{
   width: 40%;
    margin-left: 15%;
}
/*.navlink{
    margin-top: -5%;
}*/
.navlink a {
  
  display: inline;
  color: #000;
  padding: 1% 6%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 15px; 
  font-weight: 400;

}
.navbar-branding{ 
  margin-left: 10%;
  width: 30%;

}
.navbar-branding , .topnav{
   display: inline-block;
}


/*

body {
    background-image: linear-gradient(to right , #cb2d3e , #ef473a);
}*/

.searchBox {
    float: right;
    transform:  translate(-50%,50%);
    background: #C4A2FC;
    height: 40px;
    border-radius: 40px;
    

}

.searchBox:hover > .searchInput {
    width: 100px;
    padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: white;
  color : #C4A2FC;
  border: 5px solid;
  border-radius: 40px;
}

.searchButton {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border: none;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;

}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
}
}

.navlink{
  width: 50%;
}
/*.searchBox{
  width: 45%;
}
*/
.navsearch{
  position: relative;
  left: 25%; 
}

.navlink , .navsearch{
   display: inline-block;
}

.Hero{
  position: relative;
    margin: 15px auto 0;
    margin-top: 120px;
    padding-left: 50px;
     padding-right: 50px;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    -ms-grid-columns: 45% 55%;
    grid-template-columns: 45% 55%;
    max-width: 1440px;
    padding-top: 20px;
    position: relative;
    z-index:0;
}
.HeroText{
  margin: 0 0% 0 0;
    position: relative;
    z-index: 10;
}
.HeroImg {
   text-align: center;
}
.HeroContent{
  padding: 0px 10px 30px 100px;
  font-family: Open Sans;
font-style: normal;
font-weight: normal;
color: #000000;
}
.HeroContent h3{
text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}


.drop-cap::first-letter {
   
  font-size: 200%;
  color: #C4A2FC;
}
.HeroContent1 h1::first-letter {
   
  font-size: 200%;
  color: #966FD8 ;
}
   
.HeroContent p{
  font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 16px;
}
.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

.btn-xs{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  color: white!important;
  border-radius: 25px!important;
  padding: 12px 20px!important;
  font-size: 16px!important;
  cursor: pointer;
  background-color: #966FD8!important;
  outline: none !important;
}
.btn-xs:hover {
  background-color: #8C57E4!important;
   color: white!important;
}

.getstart{
  margin-top: 25px;
}
.getstart1{
  margin-left: 25%;
}
.getstart2{
  margin-left: 15%;
}
.Hero1, 
.SignUp{
  position: relative;
    margin: 15px auto 0;
    padding-left: 50px;
     padding-right: 50px;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    -ms-grid-columns: 45% 55%;
    grid-template-columns: 35% 65%;
    max-width: 1440px;
    padding-top: 20px;
    position: relative;
     z-index:0;
}
.HeroContent1{
  padding: 0px 10px 10px 10px;
  font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 35px;
line-height: 30px;
color: #000000;
/*border-radius: 20px;
box-shadow:
   5px 5px 5px 5px rgba(0, 0, 0, 0.25),
   -8px -8px 12px 5px rgba(255, 255, 255, 0.3);*/
}
.HeroContent1 h3{
text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}


.HeroContent1 p{
  font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 16px;
}
.HeroContent1 h1 {
    font-variant-ligatures: common-ligatures;
    margin: 0 0 0 4vw;
    font-family: 'Playfair Display',Times, 'Times New Roman', serif;
    font-size: 2.5vw;
    font-weight: 900;
    color: #383838;
    line-height: 4.25vw;
}
.HeroContent1 h3 {
    font-variant-ligatures: common-ligatures;
    margin: 0 0 1.75vw 4vw;
    font-family: 'Playfair Display',Times, 'Times New Roman', serif;
    font-family: Open Sans;
   font-style: normal;
   font-weight: normal;
    font-size: 1vw;
    font-weight: 300;
    line-height: 1.25vw;
}

.HeroText1{
  margin: 0 0% 0 0;
    position: relative;
    z-index: 10;
    border-right: 1px solid black;
    height: 300px;
}

.badge {
    line-height: 15px;
}

.badge-primary {
  font-size: 10px;
    color: #fff;
    background-color: #966FD8;
}
.badge-pill {
    padding-right: .85em;
    padding-left: .85em;
    border-radius: 10rem;
}

 .badge-pill:hover{
    background-color: #8C57E4!important;
    outline: none !important;
   box-shadow: none;
  }  s
.badge-pill:focus{
   outline: none !important;
   box-shadow: none;
}


.badge:focus,.badge:active {
  background-color: #8C57E4!important;
   outline: none !important;
   box-shadow: none!important;
}

.maincontent{
    position: relative;
}


.slash{
    
  color: #966FD8;
   font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 1.2em!important;
    font-weight: 900;
}
.slash:hover{
   color: #000;
}


.sidetext2 {
  font-family: 'Playfair Display',Times, 'Times New Roman', serif;
    font-size: 2vw;
    text-align: center;
    margin: 0;
    font-weight: 600;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
     padding: 20px 80px 30px 80px;
    margin-bottom: 0;
}

.testhead  {
  display: block;
}

.slider__inner {
  position: relative;
  top: 0;
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
  -webkit-transition: left 0.4s;
 
}
.slider__contents {
  height: 400px;
  padding: 0 2rem 0 2rem;
  text-align: center;

}
.slider__contents  p{
  margin: 1%;
  font-size: 1.00vw;
}
.slider__image {
  font-size: 1.7rem;
      color: #2196F3;
}
.slider__caption {
  font-size: 25px;
  font-weight: 300;
  margin: 1rem 0 0.5rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  padding-right: 0; 
    width: 100%;
}
.slider__txt {
  color: #999;
  margin-bottom: 3rem;
  max-width: 500px;
    text-align: center;
}

.testimonial

{
  width: 50%;
  border-radius: 50%;
}